<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <h1>等号插入</h1>
    <p>
        <%=article%>
    </p>
    <h1>横杠插入</h1>
    <p>
        <%-article%>
    </p>
</body>

</html>